#full-width {
    width: 100%;
}

#nav-size {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom:0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#footer-size {
    margin-top: -3%;
    margin-bottom: -2%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#login-warning {
    padding-top: 20%;
    font-size: 72px;
    text-align: center;
}

.tile {
    position: relative;
    height: 400px;
    color:rgb(130, 129, 197);
    font-size: 40px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
}

.left-tile-home {
    background-image: url("../public/tingey-injury-law-firm-DZpc4UY8ZtY-unsplash.jpg");
}

.right-tile-home {
    background-image: url("../public/farhan-visuals--HE8sx0TvMU-unsplash.jpg");
}

.left-tile-rules {
    background-image: url("../public/pexels-wendy-van-zyl-10506690.jpg");
}

.right-tile-rules {
    background-image: url("../public/fire.jpg");
}
.left-tile-customer {
    background-image: url("../public/penguins-g0ddd3a3a8_640.jpg");
}
.right-tile-customer {
    background-image: url("../public/search.jpg");
}

.ultimate-container {
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(186, 193, 197);
}

Table {
    margin-top: 5%;
    background: lightgray;
}

.nav-colour {
    background: grey;    
}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    justify-content: space-evenly;
    min-width: 100vw;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 100vw;
}

.cust-name {
    margin-left: 5%;
    font-size: 50px;
}

.card-header{
    font-size: 30px;
}

.list-group-item{
    font-size: 18px;

}

@media (max-width: 900px) {
    .container {
        align-items: center;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .nav-colour {
        flex-direction: row;
    }
  }